node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

.env
docs/README.md
database.rules.json
firebase.json
firebase/firebase.ts
.firebase/
.firebaserc
public/
